mat-spinner {
  margin: auto;
}
.card
{
  width: 30%;
  margin :auto;
}

button
{
    margin :0.5rem;
}

form{
  width:auto;
}
button
{
  width: auto;
}

@media screen and (max-width: 600px) {
  mat-spinner {
    margin: auto;
  }
  .card
  {
    width: 90%;
    margin :auto;
  }

  button
  {
      margin :0.5rem;
  }

  form{
     width:100;
  }
  button
  {
    width: auto;
  }

 }
