<mat-card *ngIf="isForgetPassword">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <!-- <form (submit)="onForgetPassword(forgetPassword)" #forgetPassword="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required email>
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button color="accent"  [disabled]="!forgetPassword.valid" type="submit">RESET</button>
    <button mat-raised-button color="accent" type="button" (click)="back()">BACK</button>
  </form> -->
  <form (submit)="onForgetPassword(forgetPassword)" #forgetPassword="ngForm" *ngIf="!isLoading">
              <div class="form-group">
                  <label for="email">Email address</label>
                  <input class="form-control" name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required email>
                  <span class="help-block" *ngIf="emailInput.invalid && emailInput.touched" style="color:red;"
                   >Please enter a valid Email Id</span>
              </div>
              <button  class="btn btn-primary" [disabled]="!forgetPassword.valid" type="submit">RESET</button>
              <button  class="btn btn-danger" type="button" (click)="back()">BACK</button>
          </form>
</mat-card>
<mat-card *ngIf="!isForgetPassword">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onRest(ResetForm)" #ResetForm="ngForm" *ngIf="!isLoading">
    <div class="form-group">
        <label for="password">NEW PASSWORD</label>
      <input  class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="password" ngModel type="password" placeholder="New Pasword" #passInput="ngModel" required>
        <span class="help-block" *ngIf="passInput.invalid && passInput.touched" style="color:red;"
         >Your password must be a combination of uppercase,lowercase and numbers</span>
    </div>
    <div class="form-group">
        <label for="code">PASSWORD RESET CODE</label>
    <input class="form-control" name="code" ngModel type="text" placeholder="Enter the reset Code" #textInput="ngModel" required>
        <span class="help-block" *ngIf="textInput.invalid && textInput.touched" style="color:red;"
         >Please enter a Rest code</span>
    </div>
    <button class="btn btn-success" [disabled]="!ResetForm.valid" type="submit">RESET</button>
   <button  class="btn btn-danger" type="button" (click)="back()">BACK</button>
  </form>
</mat-card>
