<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card *ngIf="createProject && !isLoading" class="create">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
          <div formGroupName="userData">
            <div class="form-group">
              <label for="projectName">GROUP NAME</label>
              <input
                type="text"
                id="projectName"
                formControlName="projectName"
                class="form-control"
                minlength="1" maxlength="20" size="20">
              <span
                *ngIf="!projectForm.get('userData.projectName').valid && projectForm.get('userData.projectName').touched"
                class="help-block">ENTER A VALID GROUP NAME
                </span>
            </div>
            <div class="form-group">
              <label for="projectName">GROUP Created By</label>
              <input
                type="text"
                id="createdBy"
                formControlName="createdBy"
                class="form-control"
                minlength="1" maxlength="20" size="20">
              <span
                *ngIf="!projectForm.get('userData.createdBy').valid && projectForm.get('userData.createdBy').touched"
                class="help-block">Enter a valid Name
                </span>
            </div>
          </div>
          <div formArrayName="users">
            <h4>Add all the friends invovled in the Expense</h4>
            <button
              class="btn btn-primary"
              type="button"
              (click)="onAddUser()">Add Friends To the Group</button>
            <div
              class="form-group"
              *ngFor="let user of projectForm.get('users').controls; let i = index">
              <input type="text" placeholder="Enter the Email id of your friend" class="form-control" [formControlName]="i">
              <button class="btn btn-danger" type="button" (click)="onDelete(i)">DELETE</button>
            </div>
          </div>
          <br>
          <span
            *ngIf="!projectForm.valid && projectForm.touched"
            class="help-block">Please enter all details !</span>
          <button class="btn btn-primary" type="submit" [disabled]="!projectForm.valid || !submit">Submit</button>
          <button class="btn btn-danger" type="button" (click)="onCancel()">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</mat-card>
<div *ngIf="!createProject && !isLoading">
  <div class="card mb-3" *ngFor="let project of PagenationProject;let i=index">
      <mat-card>
            <div class="card-header">
              <h3 style="color:#3377ff;">GROUP NAME : {{project.name  | uppercase }}</h3>
            </div>
            <div class="card-body">
                <h4 class="card-title" style="color:#ff0000;">TOTAL PERSONS INVOLVED IN THE GROUP</h4>
                <ol class="list-group list-group-flush">
                  <li *ngFor="let users of project.users; let i=index" class="list-group-item">{{users}} <span class="glyphicon glyphicon-envelope"></span></li>
                </ol>
            </div>
            <div class="card-footer text-muted">
              <button class="btn btn-primary" (click)="CreateNew()">CREATE ANOTHER GROUP</button>
              <button class="btn btn-success" [routerLink]="['/Users',project._id]">ADD BILL DETAILS</button>
              <button *ngIf="userId===project.creator" class="btn btn-danger"  (click)="onDeleteProject(project._id,i)">DELETE GROUP</button>
              <button class="btn btn-info"  [routerLink]="['/history',project._id]">HISTORY</button>
            </div>
            <small><b>CREATED BY : {{project.createdBy | uppercase }}</b></small>
            </mat-card>
          </div>
        </div>

<mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"
  *ngIf="!createProject && !isLoading"></mat-paginator>
