    <mat-card class="welcome-card">
      <mat-card-header>
        <mat-card-title><h3><strong style="color:#3377ff;">Welcome to Expense Splitter</strong></h3></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p><strong>
         ADD YOUR FRIENDS EMAIL ID AND PULL THEM INTO A GROUP
         THEY WILL BE NOTIFIED BY EMAIL AS WELL AS A NOTIFICATION IF
         THEY WERE ONLINE</strong>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button class="btn btn-success"  routerLink="/project">YOUR GROUPS</button>
      </mat-card-actions>
    </mat-card>

  <mat-card class="guide-card">
    <mat-card-header>
      <mat-card-title style="color:#e60000;"><strong>GUIDE</strong></mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <ol class="list-group">
          <li class="list-group-item">Click on <b>GROUPS</b> tab or <b>YOUR GROUPS</b> button to see the groups you were part of
          and you can create your own group</li>
          <li class="list-group-item">If GROUPS were available click on <b>ADD BILL DETAILS</b> button to add the bills you have paid
          </li>
          <li class="list-group-item">Click on <b>GENERATE EXPENSE</b> button to generate the expense</li>
          <li class="list-group-item">Click on <b>HISTORY</b> button to view the History</li>
      </ol>
      </mat-card-content>
  </mat-card>
