    <mat-card class="welcome-card">
      <mat-card-header>
        <mat-card-title><strong>Welcome to Expense Splitter</strong></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p><em>
         ADD YOUR FRIENDS EMAIL ID AND PULL THEM INTO A PROJECT
         THEY WILL BE NOTIFIED BY EMAIL AS WELL AS A NOTIFICATION IF
         THEY WERE ONLINE</em>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button mat-button color="accent"  routerLink="/project">YOUR PROJECTS</button>
      </mat-card-actions>
    </mat-card>

  <mat-card class="guide-card">
    <mat-card-header>
      <mat-card-title style="color:#e60000;"><strong>GUIDE</strong></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        <li>CLick on <b>PROJECT</b> tab or <b>YOUR PROJECTS</b> button to see the projects you were part of
        and you can create your own project</li>
        <li>If Project were available click on <b>ADD NEW BILL</b> button to add the bills you have paid
        </li>
        <li>Click on <b>GENERATE EXPENSE</b> button to generate the expense</li>
        <li>Click on <b>HISTORY</b> button to view the History</li>
    </p>
      </mat-card-content>
  </mat-card>
